/* 
list of values used in colorstack.org:
text-color-turquoise-dark
background-color: #FDB532; orangeish color
color: #348e87; light turquoise
.button-secondary-dark.nav:hover {
  background-color: FDB532 !important;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Nib pro, Georgia, sans-serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
}

:root {
    --beige: #f5f2ed;
    --black: #282828;
    --dark-blue: #091024;
    --dark-grey: #616061;
    --light-grey: #e0e0e0;
    --white: white;
    --yellow-brand: #fdb532;
    --turquoise-brand: #3ca39b;
    --turquoise-text: #348e87;
    --light-blue: #c6d1ef;
}

*/

/*
SBU COLORS:
bright red: #d52037
red (regular): #990000
dark red: #6b000d
light grey: #bebebe
grey: #828282
dark grey: #4b4b4b
*/